body{background-color: wheat}
.menuler{
    color: red;
text-align: center;
   }
   #baslik1{
    font-size: 60px; 
    text-align: center;
    color: goldenrod;
   }
   #baslik2{
    text-align: center;
    color: blue;
   font-size: 35px;
   }
   #p1 {text-align: center;

}
#yanbaslik1{
    text-align: center;
    color: maroon;
    font-size: 30px;
}
#list1{
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}